<%= form_with model: @shop, local: true do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name, required:true %></p>
    <div class="form_errors">
    <% if @shop.errors[:name].any? %>
      <ul>
        <% @shop.errors[:name].each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>

    <p><%= f.label :website %></p>
    <p><%= f.text_field :website, required:true %></p>
    <p><%= f.label :address_street, "Street" %></p>
    <p><%= f.text_field :address_street, required:true %></p>
    <p><%= f.label :address_city, "City" %></p>
    <p><%= f.text_field :address_city, required:true %></p>
    <p><%= f.label :address_state, "State" %></p>
    <p><%= f.text_field :address_state, required:true %></p>
    <p><%= f.label :address_zipcode, "Zip Code" %></p>
    <p><%= f.text_field :address_zipcode, required:true %></p>
    <p><%= f.label :neighborhood %></p>
    <p><%= f.select(:neighborhood, options_for_select([
        ['Adams Morgan'],
        ['Bloomingdale'],
        ['Brookland'],
        ['Capitol Hill'],
        ['Chinatown'],
        ['Cleveland Park'],
        ['Columbia Heights'],
        ['Downtown'],
        ['Dupont Circle'],
        ['Eckington'],
        ['Friendship Heights'],
        ['Foggy Bottom'],
        ['Georgetown'],
        ['Glover Park'],
        ['Ivy City'],
        ['LeDroit Park'],
        ['Logan Circle'],
        ['Mount Pleasant'],
        ['Mount Vernon Square'],
        ['Navy Yard'],
        ['NoMa'],
        ['Penn Quarter'],
        ['Petworth'],
        ['Shaw'],
        ['Trinidad'],
        ['U Street'],
        ['West End'],
        ['Woodley Park']])) %></p>
    <p><%= f.label :seating %></p>
    <p><%= f.select(:seating, options_for_select([['Ample'], ['Limited']])) %></p>
    <p><%= f.select(:food, options_for_select([['Full menu'], ['Grab and go'], ['Pastries only']])) %></p>
    <p><%= f.label :wifi %></p>
    <p><%= f.check_box :wifi %></p>
    <p><%= f.label :outlets %></p>
    <p><%= f.check_box :outlets %></p>
    <%= f.submit "Update Coffee Shop" %>
<% end %>