<div class="shop_info_container">
<table class="shop_info_table_left">
<tr>
    <td class="shop_name">
    <%= @shop.name %>
    </td>
</tr>
<tr>
    <td>
    <%= link_to @shop.website, @shop.website %>
    </td>
</tr>

<tr> 
    <td>
    <%= @shop.address_street %>
    </td>
</tr>

<tr> 
    <td>
    <%= @shop.address_city %>
    </td>
    <td>
    <%= @shop.address_state %>
    </td>
    <td>
    <%= @shop.address_zipcode %>
    </td>
</tr>

</table>

<table class="shop_info_table_right">
<tr>
    <td>
    <span class="category_name">Neighborhood:</span> <%= @shop.neighborhood %>
    </td>

    <td>
    <span class="category_name">Wifi: </span><%= human_boolean(@shop.wifi) %>
    </td>
</tr>

<tr>
    <td>
    <span class="category_name">Seating: </span><%= @shop.seating %>
    </td>
    <td>
    <span class="category_name">Outlets: </span><%= human_boolean(@shop.outlets) %>
    </td>
</tr>

<tr>
    <td>
    <span class="category_name">Food: </span><%= @shop.food %>
    </td>

    <td>
    <%= link_to "Edit", edit_shop_path(@shop) %>
    </td>

</tr>

</table>
</div>

<%= link_to "Leave a Review", new_user_review_path(@user) %>

<div class="reviews_container">
<table class="reviews_table">
        <td>
        <% @shop.reviews.each do |review| %>
            <%= review.title %>
            <%= review.content %>
            <%= review.user.name %>
        <% end %>
        </td>
    </tr>
</table>
</div>