<%= link_to "Edit this shop", edit_shop_path(@shop) %>

<%= @shop.name %>
<p>Neighborhood: <%= @shop.neighborhood %></p>

<p>Seating: <%= @shop.seating %> </p>

<p>Noise Level: <%= @shop.noise_level %></p>

<p>Food: <%= @shop.food %></p>

<p>Wifi: <%= human_boolean(@shop.wifi) %></p>

<p>Outlets: <%= human_boolean(@shop.outlets) %></p>

<p>Address:
<% @shop.address.each do |key, value| %>
    <%= value %>
<% end %>
</p>

<p>Website: <%= @shop.website %></p>

<p>All Reviews</p>
<% @shop.reviews.each do |review| %>
    <%= review.content %>
<% end %>
