<p>Name: <%= @user.name %></p>
<p>Location: <%= @user.neighborhood %></p>
<%= @user.reviews.count %> Reviews
<br>
<p><%= link_to "Your Reviews", user_reviews_path(@user) %></p>
<p><%= link_to "Edit Profile", edit_user_registration_path %></p>
<p><%= link_to "Your Favorites", user_favorites_path(current_user) %></p>