<div class="home_page_container">
<table class="home_page_filter">
<%= form_tag '', :method => :get do %>
<tr>
    <td>
    <%= label_tag :wifi %>
    <%= check_box_tag :wifi %>
    <td>
</tr>
<tr>
    <td>
    <%= label_tag :outlets %>
    <%= check_box_tag :outlets %>
    </td>
</tr>
<tr>
    <td>
    <%= submit_tag "Filter" %>
    </td>
</tr>
<% end %>

<tr>
    <td>
        <%= link_to "Create New Coffee Shop", new_shop_path %>
    </td>
</tr>
</table>

<div class="home_page_table">
    <table>
    <% @shops.order(:neighborhood).each do |shop| %>
    <tr>
        <td colspan="2" class="shop-name"><%= link_to shop.name, shop_path(shop) %></td>
    <tr>
    </div>
        <td class="label">Neighborhood:</td>
        <td><%= shop.neighborhood %></td>
    </tr>
    <tr>
        <td><span class="label">Wifi: </span><%= human_boolean(shop.wifi) %></td>
        <td><span class="label">Outlets: </span><%= human_boolean(shop.outlets) %></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
<% end %>
    </table>

</div>
</div>

