<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeShopExplorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>


  <body>
  <% if user_signed_in? %>
    <%= link_to "Home", authenticated_root_path %>
    <%= link_to "Profile", user_path(current_user) %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path  %> |
    <%= link_to "Login", new_user_session_path  %>
  <% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
